// font
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

// font-size
$fs-0: 14px;
$fs-1: 16px;
$fs-2: 50px;
$fs-3: 25px;
$fs-4: 20px;
$fs-5: 35px;
$fs-6: 18px;

// color
$bg-color: #f6f6f6;
$pink-1: #f53838;
$pink-2: #f53855;
$black-1: #0b132a;
$black-2: #4f5665;
$black-3: #0d1025;
$white: #ffffff;
$gray-1: #dde0e4;
$gray-2: #dddddd;
$gray-3: #afb5c0;
$gray-4: #eeeff2;
$gray-5: #dddddd;
$green-1: #2fab73;
$orange-1: #fea250;
// $pink-1: #ffecec;

$box-shadow-primary: #f5383859;

// line-height
$lh-1: 19px;
$lh-2: 70px;
$lh-3: 30px;
$lh-4: 50px;

// spacing
$pd-1: 13px;
$pd-2: 20px;
$pd-3: 50px;
$pd-4: 150px;
$pd-5: 44px;
$pd-6: 16.5px;
$pd-7: 77px;
$pd-8: 130px;
$pd-9: 37px;
$pd-10: 72.5px;
$pd-11: 91px;
$pd-12: 70px;
$pd-13: 28px;

$mg-1: 20px;
$mg-2: 30px;
$mg-3: 40px;
$mg-5: 131px;
$mg-6: 150px;
$mg-7: 116px;
$mg-8: 170px;

// radius
$rd-1: 10px;
$rd-2: 50px;
$rd-3: 60px;
